

 <%-include ('partials/header') -%>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-2 col-sm-3 mb-4">
      <div class="card">
        <div class="card-body">
          <% if (movie.background) { %>
            <img src="https://image.tmdb.org/t/p/w200/<%= movie.background %>" class="card-img-top" alt="<%= movie.title %> Poster">
          <% } else { %>
            <p>No poster available.</p> 
          <% } %>
          <h4 class="card-title"><%= movie.title %></h4>
          <p class="card-text">Release Date: <%= movie.releaseDate %></p>
          <p class="card-text">Genre: <%= movie.genre %></p>
        </div>
      </div>
    </div>
    <div class="col-sm-5 col-md-5 ">
      <div class="card mb-3">
        <div class="card-body">
          <h4>Overview</h4>
          <p><%= movie.overview %></p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h4>Cast</h4>
          <% if (movie.cast && movie.cast.length > 0) { %>
            <ul>
              <% movie.cast.forEach(actor => { %>
                <li><%= actor.name %> (<%= actor.role || 'N/A' %>)</li>
              <% }); %>
            </ul>
          <% } else { %>
            <p>Cast information not available.</p>
          <% } %>
        </div>
      </div>
      <div class="car -3">
        <h4>Trailer</h4>
        <% if (movie.trailer) { %>
          <iframe width="400" height="315" src="https://www.youtube.com/embed/<%= movie.trailer %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="col-sm-6 col-md-5 col-lg-6 m-5"></iframe>
          <% } %>
         
      </div>
      <a href="/download/<%= movie.id %>" class="btn btn-primary mt-3">Download</a>
    </div>
  </div>
</div>

</div>

<%-include ('partials/footer') -%>


 






