
  

<%-include ('partials/header') -%>


 


  
  <div class="ontainer mt- mb-5 ps-5 ms-auto">
    <div class="row">
      <% combinedData.forEach((item) => { %>
        <div class="col-sm-3 col-5 col-md-3 col-lg-1 cad m-2">
          <a href="/<%= item.mediaType %>/<%= item.id %>?title<%= encodeURIComponent(item.title) %>" class="lu-one">

            <div class="car">
            
                <img class="card-img-top" src="https://image.tmdb.org/t/p/w200/<%= item.background %>" alt="<%= item.title %> Poster">
              
              <div class="lu-flags">
                <i class="fi fi-us"></i>      </div>
              <div class="card-body">
                <h3 class="card-titl"><%= item.title %></h3>
              </div>
            </div>
          </a>
        </div>
      <% }); %>
    </div>
</div>


<img src="https://image.tmdb.org/t/p/w200/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg" alt="">

<img src="https://image.tmdb.org/t/p/w200/yx1pc9vS1EtQyUu2ocxeds1GM52.jpg">

<nav aria-label="Page navigation example">
  <ul class="pagination ">
    <% if (currentPage > 1) { %>
      <div class="page-item justify-content-start"><a class="page-link" href="/?page=<%= currentPage - 1 %>">&leftarrow;Previous</a></div>
    <% } %>
    <% if (currentPage < combinedData.length) { %>
      <div class="page-item ms-auto"><a class="page-link" href="/?page=<%= currentPage + 1 %>">NEXT&rightarrow;</a></div>
    <% } %>
  </ul>
</nav>

    </div>
  </div>
  
  
  


 



</div>
</body>
</html>