
<%-include ('partials/header') -%>
  <h1 ><%= series.title %></h1>
  <% if (series.background) { %>
    <img src="https://image.tmdb.org/t/p/w200/<%= series.background %>" alt="<%= series.title %> Poster" class="img-fluid m-3">
  <% } %>
  
  <% if (episode) { %>
    <h1>S<%= season.season %> - Ep<%= episode.episode %>: <%= episode.title %></h1>
     <p><p><%= episode.release %></p></p>
    <p><h4>OVERVIEW</h4><%= episode.overview %></p>
  <% } else { %>
    <p>Select a season and episode to download.</p>
  <% } %>
  
  <% if (episode.file) { %>
    <a href="/download/series/<%= series.id %>/<%= season.season %>/<%= episode.episode %>" class="btn btn-primary m-3 mt-5">Download</a>
  <% } else { %>
    <p>Download not available.</p>
  <% } %>

 
  <%-include ('partials/footer') -%>